/*Base*/

* {
    box-sizing: border-box;
}
html {
    height: 100vh;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.61em;
    margin: 0 auto;
    color: #000;
    background: #fff;
}
h4, p {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}
h4 {
    margin: .1em;
}
li {
    list-style: none;
    display: inline-block;
}
p {
    font-size: .8em;
    margin: .3em;
    line-height: 1.61em;
}
label {
    font-size: .7em;
}
#dashboardAlert {
    color: #fff;
    background: #7171C6;
    border-radius: 5px;
    padding: 3px;
    width: 97%;
    margin: 0 auto;
}
#alertButton {
    color: #fff;
    background:  #7171C6;
    border-radius: 5px;
    float: right;
    border: none;
    outline: none;
    height: 1em;
    z-index: 9999;
}
.header__div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    background: #7171C6;
    color: #fff;
    padding: 2em;
}
.header__h1--title {
    margin: auto;
    font-family: 'Open Sans', sans-serif;
}
.header__div--userContainer {
    display: flex;
    margin: auto;
    align-items: center;
}
.header__img--notify {
    position: relative;
    left: 75px;
    bottom: 20px;
    width: 5px;
}
.header__img--bellIcon {
    border-right: 2px solid #000;
    height: 2em;
    width: 5em;
    margin: 1em;
}
.header__img--userImg {
    order: 1;
    border-radius: 100%;
    height: 3.5em;
    margin: 0 1em;
}
.header__p--user {
    order: 2;
    margin: auto;
}
.nav__ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 20%;
    height: 430.3vh;
    background: #191970;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start: 0;
    padding: 0;
    margin: 0;
}
.nav__svg--navIcon {
    display: block;
    margin: 0 auto;
    height: 30px;
    width: 30px;
}
.nav__li--navIconContainer {
    width: 100%;
    margin: 2em;
}
.nav__li--navIconContainer:hover {
    border-left: 2px solid #0f0;
}
.main__div {
    width: 80%;
    height: 173vh;
}
.main__p--dashboard {
    font-size: 1.6em;
    margin: .3em;
}
.main__p--shortenDash {
    width: 50%;
}
.main__div--toggleOne {
    width: 11em;
}
.main__div--socialMediaStats {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.main__div--socialBox {
    display: inline-block;
    min-width: 150px;
    max-width: 150px;
    height: 6em;
    margin: 2em;
    border-radius: 5px;
}
h3, .main__h3--socialStatsTitle {
    height: 1.5em;
    margin: .3em;
    font-size: 1em;
}
i, .main__p--joinDate {
    margin: 0 .5em 0 0;
}
.main__svg--socialIcon {
    position: relative;
    top: 15px;
    left: 15px;
    height: 4em;
    width: 4em;
    padding: 1em;
    background: #7171c6;
    fill: #ffffff;
    border-radius: 50%;
}
.main__p--statNumber {
    font-size: 1em;
    position: relative;
    top: -30px;
}
.main__ul--newMembers {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0;
}
.main__img--memberImage {
    border-radius: 50%;
    height: 2em;
    width: 2em;
    margin: .3em;
}
.main__li--newMembersListItem, .main__li--recentActivityListItem {
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
}
.main__form--messageUser {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.main__label--messageUser {
    display: none;
}
.main__li--recentActivityListItem:hover .fa-angle-right {
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: rotate(90deg);
    transform-origin: 50% 50%;
    transform: rotate(90deg);
    top: 10px;
}
.main__ul--dropdownContent {
    display: none;
    position: absolute;
    min-width: 10em;
    background: #ffffff;
    border: 1px solid #000000;
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
    padding: 0;
}
.main__ul--dropdownContent li {
    color: black;
    text-decoration: none;
    display: inline-block;
    padding: .5em;
}
.main__ul--dropdownContent li:hover {
    background: #f1f1f1;
}
.main__li--recentActivityListItem:hover > .main__ul--dropdownContent {
    display: block;
}
.main__span--toggleButton {
    width: 5em;
}
.main__button--sendButton {
    background: #7171C6;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
    width: 95%;
    margin: 0 auto;
}
.main__div--settingsDiv {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.main__div--buttonArray {
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
}
.main__button--saveButton {
    width: 5em;
    height: 1.8em;
    background: #7171C6;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-top: auto;
    margin-left: .8em;
    margin-bottom: .8em;
}
.main__button--cancelButton {
    width: 5em;
    height: 1.8em;
    background: #999;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-top: auto;
    margin-bottom: .8em;
}
.main__input--textBox {
    margin: 0 auto;
    width: 95%;
    border-radius: 5%;
}
.main__textarea--textBox {
    width: 95%;
    border-radius: 5px;
    margin: 1% auto;
}
.divBorder {
    border: 1px solid #888;
}
.divBorderTransparent {
    border: 1px solid transparent;
}
.danOliverMember, .danOliverPost {
    border-bottom: none;
}
.fa-angle-right {
    height: 40%;
    position: relative;
    bottom: 10px;
    right: 10px;
}
.left {
    float: left;
}
.right {
    float: right;
}
.block {
    display: block;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (min-width: 320px) {

    p {
        display: block;
    }

    .header__img--notify {
        position: relative;
        left: 75px;
        bottom: 20px;
        width: 5px;
    }

    .main__div--dailyTraffic, .main__div--mobileUsers, .main__p--newMembersDiv, .main__div--recentActivityDiv, .main__div--messageUserDiv, .main__div--settingsDiv {
        width: 100%;
    }

    .main__div--dailyTraffic, .main__p--newMembersDiv, .main__div--messageUserDiv {
        float: left;
    }

    .main__div--mobileUsers, .main__div--recentActivityDiv, .main__div--settingsDiv {
        float: right;
    }

    .main__p--newMembersDiv {
        height: 411px;
    }

    .main__div--settingsDiv {
        height: 419px;
    }

    .main__input--searchBox {
        float: right;
        position: relative;
        right: 23px;
        border-radius: 5px;
    }

    .main__div--toggleOne {
        margin-right: 1em;
    }

    .main__p--statNumber {
        font-size: 1em;
        position: relative;
        top: -30px;
    }

    .danOliverMember {
        height: 66px;
    }

    .danOliverMember, .danOliverPost {
        border-bottom: none;
    }

}

@media screen and (min-width: 1083px) {

    label {
        font-size: 1em;
    }

    h3 {
        font-size: 1.2em;
    }
    h4 {
        padding: 0 3em 0 0;
    }

    p {
        font-size: .8em;
        margin: 0;
    }

    h3, .main__p--dashboard, .main__h3--socialStatsTitle {
        display: inline-block;
        margin: 10px;
    }

    #selectMenu {
        width: 96%;
        margin: 0 auto;
    }

    .header__h1--title {
        margin: 0 auto 0 0;
        font-size: 3em;
    }

    .header__p--user{
        margin: 0;
        font-size: 1.5em;
    }

    .header__div--userContainer {
        margin: 0;
    }

    .header__img--userImg {
        height: 4.5em;
    }

    .header__img--bellIcon {
        font-size: 2.2em;
    }

    .header__img--notify {
        position: relative;
        left: 155px;
        bottom: 30px;
        width: 15px;
    }

    .nav__ul {
        height: 232.2vh;
    }

    .nav__svg--navIcon {
        height: 80px;
        width: 80px;
    }

    .main__li--newMembersListItem, .main__li--recentActivityListItem {
        height: 79px;
        width: 100%;
    }

    .main__div--dailyTraffic, .main__div--mobileUsers, .main__ul--newMembers, .recentActivity,.main__form--messageUser, .settings {
        flex-basis: 50%;
    }

    .main__div--dailyTraffic, .main__div--mobileUsers, .main__p--newMembersDiv, .main__div--recentActivityDiv, .main__div--messageUserDiv, .main__div--settingsDiv {
        width: 50%;
    }

    .main__div--recentActivityDiv {
        height: 411px;
    }

    .main__div--messageUserDiv {
        height: 419px;
    }

    .main__p--memberName, .main__p--memberMail {
        margin: 0;
    }

    .main__img--memberImage {
        height: 3em;
        width: 3em;
    }

    .main__div--socialBox {
        max-width: 250px;
    }

    .main__p--statNumber {
        position: relative;
        top: -50px;
        right: 10px;
        font-size: 2.8em;
    }

    .main__div--toggleOne {
        margin-top: 1em;
        width: 21em;
    }

    .main__input--searchBox {
        top: 5px;
    }

    .main__span--toggleButton {
        margin-left: .8em;
    }

    .main__p--buttonTitle {
        margin-left: 1em;
    }

    .danOliverMember, .danOliverPost {
        border-bottom: none;
    }
}